<div>
    <h2 id="page-heading">
        <span>Pokes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-poke" [routerLink]="['/poke/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Poke
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="pokes?.length === 0">
        <span>No pokes found</span>
    </div>
    <div class="table-responsive" *ngIf="pokes?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Heart Time</span></th>
            <th><span>Mail Time</span></th>
            <th><span>Massage Time</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let poke of pokes ;trackBy: trackId">
                <td><a [routerLink]="['/poke', poke.id, 'view' ]">{{poke.id}}</a></td>
                <td>{{poke.heartTime}}</td>
                <td>{{poke.mailTime}}</td>
                <td>{{poke.massageTime}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/poke', poke.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/poke', poke.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/poke', { outlets: { popup: poke.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
