<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="poke">
            <h2><span>Poke</span> {{poke.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Heart Time</span></dt>
                <dd>
                    <span>{{poke.heartTime}}</span>
                </dd>
                <dt><span>Mail Time</span></dt>
                <dd>
                    <span>{{poke.mailTime}}</span>
                </dd>
                <dt><span>Vacation Time</span></dt>
                <dd>
                    <span>{{poke.vacaTime}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/poke', poke.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
