<div class='alert-container'>
    <div id="poke-success" class="alert alert-success" role="alert">
        Success! {{alertMessage}}
    </div>
    <div id="poke-failure" class="alert alert-danger" role="alert">
        Failed to send Alec an alert.
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-9">
        <div [ngSwitch]="isAuthenticated()">
            <div *ngSwitchCase="true">
                <h1 class="display-4">Welcome!</h1>
                <h3>This is the Dean Family website.</h3>
                <p class="lead">
                    I've put together two web apps for us to keep in touch with each other and follow some of our best family memories.
                    If you take a look at the <strong>WebApps</strong> dropdown above, you'll see two different apps:
                </p>
                <ul>
                    <li>
                        <a class="alert-link" href="/coupon">The Coupon App</h6>
                    </li>
                    <li>
                        <a class="alert-link" href="/event">The Timeline App</h6>
                    </li>
                </ul>
                <p class="lead">Click on them to check them out!</p>
            </div>

            <div *ngSwitchCase="false">
                <h1 class="display-4">Welcome!</h1>
            </div>
            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>Please </span>
                <a class="alert-link" (click)="login()">sign in</a><span> here</span>
            </div>
        </div>

    </div>
</div>
