<div class='alert-container'>
    <div id="poke-success" class="alert alert-success" role="alert">
        Success! {{alertMessage}}
    </div>
    <div id="poke-failure" class="alert alert-danger" role="alert">
        Failed to send Alec an alert.
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-9">
        <div [ngSwitch]="isAuthenticated()">
            <div *ngSwitchCase="true">
                <h1 class="display-4">Welcome, Madeleine!</h1>
                <h3>This is our little website.</h3>
                <p class="lead">
                    Here, you'll be able to do a few things important for the continuation of you and Alec's relationship. Check out the "My Apps"
                    dropdown menu to see what you can do!<br><br>
                    Also, an important part of any relationship is communication, so in order for this website to be useful and promote love betwen you and Alec,
                    make sure to give feedback/recommendations so that we can improve our little site :)
                </p>
            </div>

            <div *ngSwitchCase="false">
                <h1 class="display-4">Welcome!</h1>
            </div>
            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>Please </span>
                <a class="alert-link" (click)="login()">sign in</a><span> here</span>
            </div>
        </div>

    </div>
</div>
